.App {
  text-align: center;
}
.Nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: #000;
  color: #fff;
  font-size: 30px;
  font-weight: bolder;
  list-style: none;
}
